<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <title>Techshop</title>
</head>

<body>
    <div id="app">

        <section class="modal" v-if="produto">
            <div class="modalContainer">
                <div class="modalImg">
                    <img :src="produto.img" :alt="produto.nome">
                </div>
                <div class="modalDados">
                    <span class="modalPreco">{{produto.preco}}</span>
                    <h2 class="modalTitulo">{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>
                    <button class="modalBtn">Adicionar Item</button>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoesSubtitulo">Avaliações</h2>
                    <ul>
                        <li v-for="avaliacao in produto.reviews" class="avaliacao">
                            <p class="avaliacaoDescricao">{{avaliacao.descricao}}</p>
                            <p class="avaliacaoUsuario">{{avaliacao.nome}} | {{avaliacao.estrelas}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="produtos">
            <div v-for="item in produtos" @click="getProduto(item.id)" :key="item.id" class="produto">
                <img :src="item.img" :alt="item.nome" class="produtoImg">
                <div class="produtoInfo">
                    <span class="produtoPreco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produtoTitulo">{{item.nome}}</h2>
                </div>
            </div>

        </section>

    </div>
    <script src="./app.js"></script>
</body>

</html>